a {
  text-decoration: none; /* Removes the underline */
}
body {
  background-color: #362e2d;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}
h1 {
  font-size: 4em;
}

.links {
  display: flex; /* Use flexbox for a horizontal row */
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
  margin-top: 20px; /* Add some spacing between the intro and the picture row */
}

.icon {
  height: 5em;
  margin: 10px; /* Add spacing between the images */
  transition: transform 0.2s ease; /* Add a smooth transition effect when hovering */
}
.icon:hover {
  transform: scale(1.1); /* Scale up the image slightly on hover */
}

#active {
  color: #c7444a;
}
/* Home Page Styling */
#home {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#intro {
  color: white;
  animation: changeColor 10s forwards; /* Change the text color after 3 seconds */
}
#intro:hover {
  color: #c7444a;
  transition: 0.5s ease;
}

@keyframes changeColor {
  to {
    color: #c7444a;
  }
}
